/* .ant-table{
  border: 3px solid #eee !important;
} */

/* table, th, td{
  border: 3px solid black !important;
} */
.ant-table-footer {
    background-color: #ddd;
    padding: 0 !important;
}

.ant-table-title {
  background-color: #fff;
  padding: 0 !important;
}

.ant-table-small{
    border-color: blue !important;
    border-style: none !important;
    border-width: 1px !important;
}
.ant-table-row  {
    padding: 0 !important;
    border-style: none !important;
  }

td{
    padding: 0 !important;
  }

.ant-table-row-indent{
    border-style: none !important;
  } 

th{
    padding: 0 !important;
    background-color: #fff !important;
    text-align: center !important;
    font-size: 10px;
  }
  
#tattooBox {
    width:200px;
    /* height:300px; */
    border-style: none;
    border-width: 1px;
  }
  canvas {
      max-width: 100%;
      max-height: 100%;
  }